[package]
name = "bevy_editor_settings"
version = "0.1.0"
edition = "2021"


[dependencies]
bevy.workspace = true
thiserror.workspace = true
toml = "0.8.19"
directories = "5.0.1"
heck = "0.5.0"

[lints]
workspace = true
